<div
  class="slider"
  style="--width: 100px; --height: 50px; --quantity: 10; --time: 10s"
>
  <div class="list">
    <div class="item" style="--position: 1">
      <img src="images/companyLogos/anthropologie.png" />
    </div>
    <div class="item" style="--position: 2">
      <img src="images/companyLogos/Ashley-Logo.png" />
    </div>
    <div class="item" style="--position: 3">
      <img src="images/companyLogos/bernhardt.png" />
    </div>
    <div class="item" style="--position: 4">
      <img src="images/companyLogos/burrow.png" />
    </div>
    <div class="item" style="--position: 5">
      <img src="images/companyLogos/Castlery.png" />
    </div>
    <div class="item" style="--position: 6">
      <img src="images/companyLogos/kirkland.png" />
    </div>
    <div class="item" style="--position: 7">
      <img src="images/companyLogos/luluAndGeorgia.png" />
    </div>
    <div class="item" style="--position: 8">
      <img src="images/companyLogos/maidenHome.png" />
    </div>
    <div class="item" style="--position: 9">
      <img src="images/companyLogos/thuma.png" />
    </div>
    <div class="item" style="--position: 10">
      <img src="images/companyLogos/westElm.png" />
    </div>
  </div>
</div>
