/* FONT AND TEXT STYLING */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
html {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 62.5%;
}

body {
    padding-top: 1%;
}


/* LOGO AND NAVIGATION BAR */
a {
    text-decoration: none;
}

a:link {
    color: black
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(82, 82, 82);
}

a:focus {
    color: rgb(82, 82, 82);
}

.navbarPages {
    padding: 0 3rem;
    font-size: 3rem;
}

nav {
    border-bottom-style: solid;
    border-color: solid black;
    border-width: 0.2rem;
}

.logo {
    margin-left: 10rem;
}


/* INTRO TEXT */
.introText {
    margin-top: 5rem;
    padding-left: 10rem;
    width: 45%;
    font-size: 2rem;
    font-size: 3rem;
    font-weight: 400;
}