@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    padding-top: 1%;
    background-color: #CDDC39;
}


/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2.8rem;
    padding-left: 8rem;
    font-weight: bold;
    font-family: 'Ephesis', cursive;
}

.navBar {
    list-style: none;
    display: inline;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5rem;
    margin-right: 10rem;
}

.navItem {
    padding: 5rem 0rem 0rem 7rem;
    font-size: 2rem;
    font-weight: 500;
}

a {
    text-decoration: none;
}

a:link {
    color: #212121;
}

a:visited {
    color: #212121;
}

a:hover {
    color: #757575;
}

a:active {
    color: #F0F4C3;
}

/* SECTION */
.introText {
    padding: 5rem 8rem;
    font-size: 2.5rem;
    width: 55%;
}



/* =========================================================FOOTER */
footer {
    background-color: #F0F4C3;
    bottom: 0;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    gap: 10rem;
}



/* MAIN */
.homeMain {
    height: 40vh;
}

.mainBody {
    overflow: hidden;
}


/* ================================================================MENU PAGE */
.menuHeader {
    height: 10rem;
    margin-bottom: 9rem;
}

.menuItem1 {
    height: 40rem;
    margin: 7rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.menuItem1Paragraph {
    font-size: 2.5rem;
}

.chiaImage {
    border: 1px solid #212121;
    border-radius: 2.5px;
}

.menuItem1Heading {
    text-align: center;
    font-size: 3rem;
}

.menuItem2Heading {
    padding-top: 6rem;
    text-align: center;
    font-size: 3rem;
    border-top: 1px solid #212121;
    margin: 0 20rem;
}

.menuItem2Paragraph {
    font-size: 2.5rem;
}

.menuItem2 {
    height: 40rem;
    margin: 7rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.sweetCake {
    border: 1px solid #212121;
    border-radius: 2.5px;
}


/* ====================================================ABOUT PAGE */
.aboutDiv {
    background-color: #BDBDBD;
    height: 25rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 35rem;
}

.aboutWhatWeDo {
    display: flex;
    font-size: 2rem;
    align-items: center;
    padding-left: 4rem;
    width: 30rem;
}

.aboutWhatWeDoText {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    width: 50rem;    
}